.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra o conteúdo horizontalmente */
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Página completa */
.page-acomodacao {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto; /* centra horizontalmente */
    overflow: hidden;
}

/* Imagem de topo - Carrinha */
.imagem-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    z-index: 1;
}

.imagem-page-acomodacao {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Navbar sobre a imagem */
.navbar-custom {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 10;
    background-color: transparent !important;
    padding: 10px 20px; /* Ajustado para 15px 30px */
    font-size: 1.2rem; /* Ajustado para 1.5rem */
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}

/* Ajustes para dispositivos médios */
@media (max-width: 768px) {
    .navbar-custom {
        font-size: 1.1rem; /* Reduz o tamanho da fonte */
        padding: 8px 15px; /* Reduz o padding */
    }

    .imagem-wrapper {
        height: 40vh; /* Ajusta a altura da imagem para 40% da altura da tela */
    }

    .imagem-page-acomodacao {
        top: -10%; /* Ajuste da posição da imagem */
    }
}

/* Ajustes para dispositivos pequenos */
@media (max-width: 480px) {
    .navbar-custom {
        font-size: 1rem; /* Tamanho de fonte ainda menor */
        padding: 5px 10px;
    }

    .navbar-nav .nav-item {
        margin-right: 10px; /* Menos espaçamento entre itens do menu */
    }

    .imagem-wrapper {
        height: 35vh; /* Ajusta ainda mais a altura da imagem */
    }
}

.navbar-nav .nav-item {
    margin-right: 30px; /* aumenta o espaço entre os itens */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .nav-link {
    color: rgb(0, 0, 0, 1);
}

.navbar-toggler {
    position: fixed; /* Fixa o botão na tela */
    top: 20px; /* Distância do topo da tela */
    right: 20px; /* Distância da borda direita da tela */
    z-index: 1050; /* Garante que o botão fique acima dos outros elementos */
}

.navbar-toggler-icon {
    width: 30px;  /* Ajuste o tamanho do ícone do hambúrguer */
    height: 20px; /* Ajuste o tamanho do ícone do hambúrguer */
}

@media (max-width: 768px) {
    .navbar-toggler-icon {
        width: 25px;  /* Tamanho reduzido para telas menores (tablets) */
        height: 17px; /* Altura ajustada */
    }
}

@media (max-width: 480px) {
        .navbar-toggler-icon {
            width: 20px;  /* Tamanho ainda menor para smartphones */
            height: 15px; /* Ajuste da altura */
        }
    }

.disabled-link {
    pointer-events: none;
    cursor: default;
    color: rgba(255, 255, 255, 1);
}

/* Ajuste da posição do ícone de lista (hamburguer) */
.icon-barras {
    cursor: pointer;
    position: fixed;
    top: 20px; /* Ajuste a distância do topo da navbar */
    left: 20px; /* Coloca o ícone à esquerda da página */
    z-index: 20; /* Certifique-se de que o ícone fique acima da navbar */
}

.icon-barras img {
    width: 5vw; /* Ajuste responsivo */
    height: auto; /* Mantém a proporção da imagem */
}
